[package]
name = "come_boy"
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
build = "build.rs"

[lib]
crate-type = ["rlib"]

[features]
default = [
    "bitmap-renderer",
    "game-pad",
    "egui-renderer",
    "sound",
    "speedy2d-renderer",
    "std",
    "ui",
]
aggressive-inline = []
bitmap-renderer = ["bmp"]
egui-renderer = ["egui", "glow-renderer"]
game-pad = ["gilrs"]
glow-renderer = ["glow"]
sdl2-renderer = ["sdl2"]
sound = ["cpal"]
speedy2d-renderer = ["speedy2d", "crossbeam"]
std = ["bincode", "combine"]
ui = ["egui"]

[badges]
travis-ci = { repository = "bobbobbio/come_boy" }

[dependencies]
bincode = { version = "1.3", optional = true }
bmp = { version = "0.5.0", optional = true }
combine = { version = "4.6", optional = true }
cpal = { version = "0.15.3", optional = true }
crossbeam = { version = "0.8.4", optional = true }
enum-iterator = "0.8.1"
glow = { version = "0.12.3", optional = true }
egui = { version = "0.22.0", optional = true }
gilrs = { version = "0.11.0", optional = true }
log = { version = "0.4.25", default-features = false }
num_enum = { version = "0.7.3", default-features = false }
sdl2 = { version = "0.32.2", optional = true }
serde = { version = "1", default-features = false, features = ["alloc"] }
serde_derive = "1"
speedy2d = { version = "2", optional = true }
strum_macros = { version = "0.26.4" }

[dev-dependencies]
tempfile = "3.15"
criterion = { version = "0.5.0", features = ["html_reports"] }

[build-dependencies]
heck = "0.5.0"
proc-macro2 = "1"
quote = "1"
serde = "1"
serde_derive = "1"
serde_json = "1"

[build-dependencies.syn]
version = "1"
features = ["full"]

[lints.clippy]
precedence = "allow"
needless_lifetimes = "allow"

[[bench]]
name = "bench"
harness = false
