[package]
name = "come_boy"
version = "0.1.0"
authors = ["Remi Bernotavicius <remi@.abort.cc>"]
build = "build.rs"
edition = "2021"
repository = "https://github.com/bobbobbio/come_boy"
homepage = "https://github.com/bobbobbio/come_boy"

[lib]
crate-type = ["rlib"]

[features]
default = [
    "bitmap-renderer",
    "game-pad",
    "egui-renderer",
    "sound",
    "speedy2d-renderer",
    "std",
    "ui",
]
aggressive-inline = []
bitmap-renderer = ["bmp"]
egui-renderer = ["egui", "glow-renderer"]
game-pad = ["gilrs"]
glow-renderer = ["glow"]
sdl2-renderer = ["sdl2"]
sound = ["cpal"]
speedy2d-renderer = ["speedy2d", "crossbeam"]
std = ["bincode", "combine"]
ui = ["egui"]

[badges]
travis-ci = { repository = "bobbobbio/come_boy" }

[dependencies]
bincode = { version = "*", optional = true }
bmp = { version = "*", optional = true }
combine = { version = "*", optional = true }
cpal = { version = "*", optional = true }
crossbeam = { version = "*", optional = true }
enum-iterator = "0.8.1"
glow = { version = "0.12", optional = true }
egui = { version = "0.22", optional = true }
gilrs = { version = "*", optional = true }
log = { version = "*", default-features = false }
num_enum = { version = "*", default-features = false }
sdl2 = { version = "0.32.*", optional = true }
serde = { version = "*", default-features = false, features = ["alloc"] }
serde_derive = "*"
speedy2d = { version = "*", optional = true }
strum_macros = { version = "*" }

[dev-dependencies]
tempfile = "*"
criterion = { version = "0.3", features = ["html_reports"] }

[build-dependencies]
heck = "*"
proc-macro2 = "*"
quote = "*"
serde = "*"
serde_derive = "*"
serde_json = "*"

[build-dependencies.syn]
version = "*"
features = ["full"]

[lints.clippy]
precedence = "allow"
needless_lifetimes = "allow"

[[bench]]
name = "bench"
harness = false
