name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - uses: Swatinem/rust-cache@v2
    - name: Install cargo-binstall
      uses: cargo-bins/cargo-binstall@main
    - name: prebuild
      run: ./prebuild
    - name: pico rom symlink
      run: ln -f -s ../library/blargg_test_roms/cpu_instrs/cpu_instrs.gb pico/rom.bin
    - name: presubmit
      run: SKIP_GIT_CHECK=1 ./presubmit
