name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install cargo-binstall
      uses: cargo-bins/cargo-binstall@main
    - name: prebuild
      run: ./prebuild
    - name: presubmit
      run: ./presubmit
